<% if @cocktail.photo.attached? %>
 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @cocktail.photo.key, crop: :fill %>')";>
<% else %>
 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://upload.wikimedia.org/wikipedia/commons/7/75/Missing.png')";>
<% end %>
  <div class="banner_container d-flex align-items-center justify-content-center flex-column">
    <h1 style="font-size:60px"><%= @cocktail.name.capitalize %></h1>
  </div>
</div>
<div class="container p5 mt-3">
  <p> <%= link_to 'back to all cocktails', cocktails_path %>
  <div class= "ingredients bg-light p-4 rounded">
  <h3> Ingredients: </h3>
  <ul class="mt-4 mb-4">
    <% @cocktail.ingredients.each do |ingredient| %>
      <li> <%= ingredient.name %> |
        <% ingredient.doses.each do |dose| %>
          <%=dose.description %> <%= link_to 'Delete', cocktail_dose_path(@cocktail, dose.id), method: :delete, data: {confirm: "Are you sure?"}%>
         <% end %>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Add a new dose', new_cocktail_dose_path(@cocktail), class:'btn btn-primary rounded-pill mt-2' %>
  </div>
</div>
