<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

  <!-- <body id="<%= controller.controller_name %>-<%= controller.action_name %>"> -->
  <body>
    <!-- Image and text -->
<nav class="navbar navbar-light bg-light d-flex align-items-center sticky-top">
  <a class="navbar-brand" href="https://mister-cocktail-toubiana.herokuapp.com/cocktails/">
    <img src="https://img.icons8.com/carbon-copy/2x/cocktail.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    Chez Raphaël
  </a>
  <p> <%=link_to "Add a new cocktail", new_cocktail_path, class:'btn btn-outline-dark mt-3'  %>
</nav>
     <%= yield %>
  </body>
</html>
